.catList {

  @include media($tb) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    background-color: $white;
    border: 1px solid $gray-base;
    box-sizing: border-box;
    position: relative;

    @include media($tb) {
      margin: 0 1.5%;
      width: (94% / 2);
    }

    @include media($pc) {
      transition: all 0.2s ease-in-out;
      width: (91% / 3);
    }

    &:hover {
      @include media($pc) {
        box-shadow: 0 3px 0 0 $gray-light;
        transform: translateY(-3px);
      }
    }

    & + & {
      margin-top: 30px;

      @include media($tb) {
        margin-top: 0;
      }
    }

    &:nth-child(n+3) {
      @include media($tb) {
        margin-top: 30px;
      }

      @include media($pc) {
        margin-top: 0;
      }
    }

    &:nth-child(n+4) {
      @include media($pc) {
        margin-top: 30px;
      }
    }
  }

  &__thumb {
    text-align: center;
    
    > img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  $baseSize: 50px;

  &__gender {
    background-color: $white;
    border: 1px dashed $gray-base;
    border-radius: 50%;
    box-sizing: border-box;
    color: $white;
    height: $baseSize;
    padding: 8px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -15px;
    width: $baseSize;

    > span {
      display: block;
      line-height: 1.2;
      text-align: center;
    }
  }

  &__label {
    align-items: center;
    color: $white;
    background: lighten($main-color, 17%);
    border: 1px solid darken($main-color, 10%);
    bottom: 4px;
    box-shadow: 0 1px 3px $gray-light;
    display: flex;
    font-family: 'Roboto', sans-serif;
    left: -5px;
    min-height: 21px;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    z-index: 10;

    &:before,
    &:after {
      border-bottom: 5px solid $main-color;
      content: "";
      top: -6px;
      display: block;
      height: 0;
      position: absolute;
      width: 0;
      z-index: 5;
    }

    &:before {
      border-left: 5px solid transparent;
      left: -1px;
    }

    &:after {
      border-right: 5px solid transparent;
      right: 0;
    }
  }

  &__num {
    padding-left: 5px;
    &:after {
      content: "："
    }
  }

  &__status {
    align-items: center;
    display: flex;

    > span {
      display: block;

      & + span {
        margin-left: 8px;
      }
    }
  }

  &__icon {
    margin-top: -2px;
    
    > i {
      background-color: $white;
      border-radius: 3px;
      box-sizing: border-box;
      display: inline-block;
      padding: 3px 3px 1px;
      text-align: center;
      width: 25px;
    }
  }
}
