.iconList {
  @include media($pc) {
    margin: auto;
    max-width: 1000px;
  }

  &__trigger {
    padding: 15px;
    text-align: right;

    @include media($pc) {
      display: none;
    }

    &.is-open {
      &:before,
      &:after {
        background-color: $gray-base;
        bottom: 0;
        content: "";
        height: 20px;
        position: absolute;
        right: 21px;
        top: 14px;
        width: 3px;
      }

      &:before {
        transform: rotate(45deg)
      }

      &:after {
        transform: rotate(-45deg)
      }

      > svg {
        opacity: 0;
      }
    }

    > svg {
      pointer-events: none;
    }
  }

  &__list {
    background-color: $white;
    display: none;
    padding: 15px;
    border: solid 3px $gray-base;

    @include media($pc) {
      background-color: transparent;
      border: none;
      display: flex;
      padding: 10px 0;
    }

    &.is-open {
      display: block;
    }
  }

  &__item {
    box-sizing: border-box;

    @include media($pc) {
      padding: 5px 15px;
    }

    & + & {
      margin-top: 10px;

      @include media($pc) {
        border-left: 1px dashed $gray-light;
        margin-top: 0;
      }
    }

    dt,
    dd {
      display: inline-block;
      vertical-align: middle;
    }

    dt {
      min-width: 20px;
    }
    
    dd {
      font-size: .9rem;
    }
  }

  &__icon {
    margin-right: 5px;
  }
}
