.l-header {
  background-color: $white;
  box-shadow: 0px 1px 3px $gray-light;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 100;

  @include media($pc) {
    align-items: center;
    display: flex;
    padding-bottom: 0;
  }

  &__inner {
    border-bottom: dashed 1px currentColor;
    padding: 10px 10px 8px;

    @include media($pc) {
      border-bottom: none;
    }
  }

  &__logo {
    color: $main-color;
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.6rem;
    text-align: center;
    
    @include media($pc) {
      border-bottom: none;
      border-right: dashed 1px currentColor;
      min-width: 250px;
    }

    > span {
      padding: 0 5px;
    }

    > i {
      font-size: 1.5rem;
    }
  }

  &__iconList {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 150;

    @include media($pc) {
      background-color: lighten($sub-color, 20%);
      border-top: 3px solid $main-color;
      bottom: 0;
      left: 0;
      position: fixed;
      top: auto;
      width: 100%;
    }
  }
}
