.l-header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  order: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  @include media($pc) {
    align-items: center;
    background-color: $white;
    box-shadow: 0 1px 3px $gray-light;
    display: flex;
    padding-bottom: 0;
  }

  &__inner {
    background-color: $white;
    border-bottom: solid 2px $gray-light;
    padding: 10px 10px 8px;
    width: 100%;

    @include media($pc) {
      border-bottom: none;
      width: auto;
    }

    &.is-open {
      border-bottom: dashed 1px currentColor;

      @include media($pc) {
        border-bottom: none;
      }
    }
  }

  &__logo {
    color: $main-color;
    font-family: "Cabin Sketch", cursive;
    font-size: 1.6rem;
    text-align: center;

    @include media($pc) {
      border-bottom: none;
      border-right: dashed 1px currentColor;
      min-width: 250px;
    }

    > span {
      padding: 0 5px;
    }

    > i {
      font-size: 1.5rem;
    }
  }

  &__iconList {
    position: fixed;
    right: 15px;
    top: 0;
    z-index: 150;

    @include media($pc) {
      background-color: lighten($sub-color, 20%);
      border-top: 3px solid $main-color;
      bottom: 0;
      left: 0;
      position: fixed;
      top: auto;
      width: 100%;
    }
  }

  &__search {
    display: table;
    margin-left: auto;
    order: 2;
    padding-right: 15px;

    @include media($pc) {
      display: none;
    }

    > button {
      appearance: none;
      background-color: $white;
      border: solid 2px $gray-light;
      border-top: none;
      border-radius: 0 0 10px 10px;
      display: inline-block;
      margin-top: -2px;
      padding: 10px;
    }

    > svg {
      pointer-events: none;
    }
  }

  &__form {
    background-color: $white;
    border-bottom: solid 2px $gray-light;
    display: none;
    order: 1;
    width: 100%;

    @include media($pc) {
      border-bottom: none;
      display: block;
      order: 0;
      width: auto;
    }

    &.is-open {
      display: block;
    }
  }
}
