$bg-main-color: lighten($gray-light, 16%);
$bg-sub-color:  lighten($gray-light, 18%);

.l-main {
  background-image:
    linear-gradient(
      -45deg,
      $bg-main-color 25%,
      $bg-sub-color 25%,
      $bg-sub-color 50%,
      $bg-main-color 50%,
      $bg-main-color 75%,
      $bg-sub-color 75%,
      $bg-sub-color
    );
  background-size: 30px 30px;
  background-attachment: fixed;
  min-height: 100vh;

  &__inner {
    padding: 15px;

    @include media($pc) {
      margin: auto;
      max-width: 1000px;
      padding-bottom: 75px;
    }
  }

  &__remark {
    background-color: $white;
    border: 3px double $main-color;
    font-size: .8em;
    padding: 7px 5px 5px;

    @include media($pc) {
      display: flex;
      margin: 0 15px;
    }

    > p {
      padding: 5px 0;

      & + p {
        @include media($pc) {
          margin-left: 10px;
        }
      }

      > a {
        color: lighten($main-color, 20%);

        @include media($pc) {
          text-decoration: none;
        }

        &:hover {
          @include media($pc) {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__list {
    margin-top: 25px;
  }

  &__result {
    bottom: 10px;
    position: fixed;
    right: 10px;
    z-index: 100;

    @include media($pc) {
      bottom: 70px;
      right: 20px;
    }
  }
}
