.modal {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;

  @include media($pc) {
    font-size: 5rem;
  }
}
